@import 'src/styles/variables';

.btn {
  display: inline-block;
  color: $color-white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 16px;
  transition: all 0.2s;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;

  &--primary {
    background-color: $color-pink;
  }

  &--secondary {
    background-color: $color-primary;
  }

  &--primary:not(:disabled),
  &--secondary:not(:disabled) {
    &:hover {
      background-color: $color-pink;
      transform: scale(1.1) translateY(-2px);
      box-shadow: 0 10px 49px 4px rgb(0 0 0 / 10%), 0 10px 15px -3px rgb(0 0 0 / 10%);
    }

    &:active {
      transform: scale(0.99) translateY(0.5px);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 14px;
  }
}
