@import './fonts';
@import './variables';

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Lora, serif;
  color: $color-black;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: rem(24px);
  height: rem(24px);
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

a,
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 36px;
  height: 100%;
  background-color: $color-white;
  border-radius: 16px;
}
