@import './variables';

.heading-primary {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  text-transform: capitalize;
  color: $color-primary;

  @media only screen and (max-width: $bp-small) {
    font-size: 36px;
    line-height: 48px;
  }
}

.heading-secondary {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  text-transform: capitalize;
  color: $color-pink;

  @media only screen and (max-width: $bp-small) {
    font-size: 28px;
    line-height: 36px;
  }

  @media only screen and (max-width: $bp-extra-small) {
    font-size: 24px;
    line-height: 32px;
  }
}
